main {
  display: flex;
  height: 500px;
}

.intro-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 20px;
}

p {
  padding: 20px;
}

.products-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
